#section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    gap: 2rem;
    text-align: center;
    margin-top: 3rem;
  
    .section3-header {
      text-align: center;
  
      p {
        color: $color-gris1;
        margin: 10px;
      }
  
      h2 {
        color: $color-1;
      }
    }
  
    #section3-content {
      display: flex;
      flex-wrap: wrap; /* Permet d'ajuster les éléments en fonction de la largeur */
      justify-content: center; /* Centrage des éléments */
      gap: 3rem;
      width: 100%;
      max-width: 1000px;
  
      .skill-block {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background: #242F42;
        border-radius: 15px;
        max-width: 300px;
        width: 100%; /* Assure que les blocs occupent tout l'espace disponible à petite échelle */
        box-sizing: border-box;
  
        h3 {
          color: $color-1;
          margin-bottom: 0.5rem;
        }
  
        .skills-all {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          gap: 1.5rem;
          width: 100%; /* Empêche l'élément de déborder de son parent */
  
          .skills {
            width: 30%; /* environ 3 par ligne */
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease;
  
            &:hover {
              p {
                opacity: 1;
              }
            }
  
            p {
              opacity: 0;
              color: $color-gris1;
              transition: 1s;
            }
          }
  
          i {
            font-size: 3rem;
          }
        }
      }
    }
  }
  