#section4 {

    .section4-header {
        text-align: center;
  
        p {
          color: $color-gris1;
          margin: 10px;
        }
    
        h2 {
          color: $color-1;
        }
    }
}